<h1>一覧ページ</h1>
<hr>
<h2>今日</h2>
<%= @date %>
<h2>新規</h2>
<%= form_with model: Book.new, url:books_path, method: :post do |f| %>
  <%= f.date_field :start_i, value: @date-1 %>～<%= f.date_field :finish_i, value: @date+7 %>
  <%= f.submit "作成" %>
<% end %>
<hr>
<h2>一覧</h2>
<%= link_to "バックアップ", past_path %><br>
<%= Book.all.each do |book| %>
  <% if @date+2 < book.start_i %>
    <%= book.id %>
  <%= link_to book_path(book.id) do %>
    <%= book.start_i %>～<%= book.finish_i %>
  <% end %>
  　<%= link_to "削除", book_path(book.id), data: { turbo_method: :delete } %>
  <br>
  <% end %>


<% end %>
