<!DOCTYPE html>
<html>
  <head>
    <title>Nest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <li><%= link_to "book一覧ページ", books_path %></li>
      <li><%= link_to "ユーザー一覧ページ", users_path %></li>
      <li><%= link_to "ユーザー新規", new_user_path %></li>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
